$background-color: #efeff0;
$background-color-transparent: #efeff088;
$primary-color: #6fe2d3;
$secondary-color: #7389AE;
$tertiary-color: #B5BAD0;
$quaternary-color: #376892;
$positive-color:#019672;
$negative-color:#e65175;