<!doctype html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <title>{{ config['TITLE'] }}</title>
    <meta name="description" content="{{ config['meta_description'] }}">
    <meta name="author" content="Gustave Coste">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ config['title'] }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/leaflet/leaflet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/leaflet/leaflet.legend.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/mapzen/leaflet-geocoder-mapzen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.scss.css') }}">

    <script>
        var orsApiKey = '{{ config.ORS_API_KEY }}';
        var mapboxApiKey = '{{ config.MAPBOX_API_KEY }}';
        var defaultFuelConsumptionPerVehicle = {{ config.DEFAULT_FUEL_CONSUMPTION_PER_VEHICLE | tojson | safe }};
        var consumptionFactor110 = '{{ config.CONSUMPTION_FACTOR_110 }}';
        var consumptionFactor130 = '{{ config.CONSUMPTION_FACTOR_130 }}';

    </script>
    <script src="{{ url_for('static', filename='js/vendor/modernizr-3.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/leaflet/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/leaflet/leaflet.legend.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/leaflet/Polyline.encoded.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/mapzen/leaflet-geocoder-mapzen.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
{% include 'header.html' %}
<div class="content">
    {% block content %}{% endblock %}
</div>
{% include 'footer.html' %}

</body>

</html>
