<!doctype html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <title>{{ config['title'] }}</title>
    <meta name="description" content="{{ config['meta_description'] }}">
    <meta name="author" content="Gustave Coste">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ config['title'] }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/leaflet/leaflet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/leaflet/leaflet.legend.css') }}">
    <!-- TODO: host it locally-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.9.4/leaflet-geocoder-mapzen.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <script>
        var ors_api_key = '{{ config.ORS_API_KEY }}';
        var mapbox_api_key = '{{ config.MAPBOX_API_KEY }}';
    </script>
    <script src="{{ url_for('static', filename='js/vendor/modernizr-3.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/leaflet/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/leaflet/leaflet.legend.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/leaflet/Polyline.encoded.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.9.4/leaflet-geocoder-mapzen.js"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
{% block content %}{% endblock %}
{% include 'footer.html' %}

</body>

</html>
