{% extends 'base.html' %}

{% block content %}


<form action="" method="get">
    <div class="form-group">
        <p>Départ</p>
        <div id="start_map" style="width: 300px; height: 300px;"></div>
        {{ form.start_lon() }}
        {{ form.start_lat() }}
    </div>
    <div class="form-group">
        <p>Arrivée</p>
        <div id="end_map" style="width: 300px; height: 300px;"></div>
        {{ form.end_lon() }}
        {{ form.end_lat() }}
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">
        {{ form.vehicle_type.label }}<br>
        {{ form.vehicle_type(class='custom-select') }}
    </div>
    <div class="form-group">
        {{ form.fuel_type.label }}<br>
        {{ form.fuel_type(class='custom-select') }}
    </div>
    <div class="form-group">
        {{ form.non_motorway_consumption.label }}<br>
        {{ form.non_motorway_consumption(step=0.1) }}
    </div>
    <div class="form-group">
        {{ form.motorway_consumption_130.label }}<br>
        {{ form.motorway_consumption_130(step=0.1, oninput='consumptionCalculator()') }}
    </div>
    <div class="form-group">
        {{ form.motorway_consumption_110.label }}<br>
        {{ form.motorway_consumption_110(step=0.1) }}<br>
        <small class="text-muted">Par défaut la consommation à 110 km/h est calculée avec une réduction de
            {{ "{0:.3g}".format(consumption_reduction_factor_110_130 * 100) }} % par rapport à celle à 130 km/h.
        </small>
        <script>
            function consumptionCalculator() {
                var motorway_consumption_130 = document.getElementById('motorway_consumption_130').value;
                document.getElementById('motorway_consumption_110').value =
                    Math.round(motorway_consumption_130 * (1 - {{ consumption_reduction_factor_110_130 }}) * 10) / 10;
            }

        </script>
    </div>
    <div class="form-group">
        {{ form.hidden_tag() }}
        <p>{{ form.submit() }}</p>
    </div>
</form>

<script>
    formMap(
        "start_map",
        "start_lat",
        "start_lon",
        {{ start_lat }},
        {{ start_lon }},
        "start"
    )
    
    formMap(
        "end_map",
        "end_lat",
        "end_lon",
        {{ end_lat }},
        {{ end_lon }},
        "end"
    )


</script>

{% endblock %}