{% extends 'base.html' %}

{% block content %}
<h4 class="intro-text">
    Devrions-nous limiter notre vitesse à 110 km/h sur l'autoroute comme l'a proposé la <a href="https://propositions.conventioncitoyennepourleclimat.fr/objectif/reduire-les-emissions-des-gaz-a-effet-de-serre-sur-les-autoroutes-et-les-voies-rapides/">Convention Citoyenne sur le Climat</a> ?
</h4>

<div class="container-sm main-container">
    <p style="text-align: center; font-size: large;">Calculez la différence de temps de trajet et de consommation sur un parcours.</p>
    <form action="" method="get">
        <div class="row">
            <div class="col form-group">
                <label>Départ</label>
                <div id="start_map" class="form-map"></div>
                {{ form.start_lon() }}
                {{ form.start_lat() }}
            </div>
            <div class="col form-group">
                <label>Arrivée</label>
                <div id="end_map" class="form-map"></div>
                {{ form.end_lon() }}
                {{ form.end_lat() }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form.vehicle_type.label }}<br>
                    {{ form.vehicle_type(class_='form-select') }}
                </div>
                <div class="form-group">
                    {{ form.fuel_type.label }}<br>
                    {{ form.fuel_type(class_='form-select') }}
                </div>
            </div>
            <div class="col">

                <div class="form-group">
                    {{ form.non_motorway_consumption.label }}<br>
                    <div class="input-group">
                        {{ form.non_motorway_consumption(step=0.1, class_='consumption_input form-control', dir="rtl")
                        }}
                        <div class="input-group-append">
                            <span class="input-group-text"> l/100km </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.motorway_consumption_130.label }}<br>
                    <div class="input-group">
                        {{ form.motorway_consumption_130(step=0.1, class_='consumption_input form-control', dir="rtl",
                        oninput='consumptionCalculator()') }}
                        <div class="input-group-append">
                            <span class="input-group-text"> l/100km </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.motorway_consumption_110.label }}<br>
                    <div class="input-group">
                        {{ form.motorway_consumption_110(step=0.1, class_='consumption_input form-control', dir="rtl")
                        }}
                        <div class="input-group-append">
                            <span class="input-group-text"> l/100km </span>
                        </div>
                    </div>
                    <small class="text-muted">Par défaut la consommation à 110 km/h est calculée avec une réduction de
                        {{ "{0:.3g}".format(consumption_reduction_factor_110_130 * 100) }} % par rapport à celle à 130
                        km/h.
                    </small>
                    <script>
            function consumptionCalculator() {
                var motorway_consumption_130 = document.getElementById('motorway_consumption_130').value;
                document.getElementById('motorway_consumption_110').value =
                    Math.round(motorway_consumption_130 * (1 - {{ consumption_reduction_factor_110_130 }}) * 10) / 10;
            }



                    </script>
                </div>
            </div>
        </div>
        <div class="form-group col-xs-1 text-center">
            {{ form.hidden_tag() }}
            <p>{{ form.submit(class_='btn btn-dark submit-button', disabled=True) }}</p>
            <script>
                // Enabling the button if coordinates have been provided
                enableSubmitButton('submit', 'start_lat', 'start_lon');

            </script>
        </div>
    </form>
</div>

<script>
    formMap(
        "start_map",
        "start_lat",
        "start_lon",
        "start"
    )
    
    formMap(
        "end_map",
        "end_lat",
        "end_lon",
        "end"
    )





</script>

{% endblock %}