{% extends 'base.html' %}

{% block content %}

<div class="container-sm main-container">
    <h1>Références :</h1>

    <p>
        <a href="https://theconversation.com/oui-rouler-a-110-km-h-plutot-que-130-pourrait-vraiment-limiter-notre-impact-sur-le-climat-144605">
            Oui, rouler à 110 km/h plutôt que 130 pourrait vraiment limiter notre impact sur le climat</a>, The
        Conversation
    </p>
    <p>
        <a href="https://www.caradisiac.com/110-km-h-sur-autoroute-notre-grand-test-183962.htm">
            110 km/h sur autoroute: notre grand test</a>, Caradisiac
    </p>
    <p>
        <a href="https://www.leprogres.fr/magazine-automobile/2021/07/16/et-si-rouler-moins-vite-n-etait-pas-qu-une-question-de-securite">
            Et si rouler moins vite n'était pas qu'une question de sécurité ?</a>, Le Progrès
    </p>
    <p>
        <a href="https://www.bilans-ges.ademe.fr/documentation/UPLOAD_DOC_FR/index.htm?new_liquides.htm">
            Émissions de Gaz à Effet de Serre des différents carburants</a>, ADEME
    </p>
</div>
{% endblock %}